<!DOCTYPE html>
<html lang="en">
  <link rel="icon" href="{{ url_for('static', filename='img/campestre.png') }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pollo Campestre</title>
    <!--BOOTSTRAP-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <!--Custom CSS-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    
    <!-----------------------------------------------Logo-------------------------------------------------------------->
    <div class="Logo">
    <img src="{{url_for('static', filename='img/campestre.png')}}">
    </div>
    <!---------------------------------------------Rectangulo--------------------------------------------------------------->
    <div class="Rectangulo"></div>
    <!-----------------------------------------------titulo-------------------------------------------------------->
    <div class ="Titulo">
      <h1><strong>Nuestra Historia</strong> </h1>
    </div>
    <!---------------------------------------fondo texto--------------------------------------------->
    <div class="Fondo_Texto">
      <div class="Texto">
        <strong>¿Por qué el pollo campestre?</strong><hr>
        
        <p>
          Como es bien sabido, el pollo campestre es un restaurante que todo buen salvadoreño conoce
          y que posiblemente haya visitado; y nuestro grupo de investigación no es una excepción. El<br>
          Pollo Campestre, restaurante que ha nacido y crecido en El Salvador, tiene una historia y un
          trayecto grande que lo ha llevado a estar en su alta posición actual.<br> Esto ha llamado nuestro
          interés y nos ha llevado a estudiar un poco más a fondo la historia del Pollo Campestre, y por
          qué no, ver un lado <br>más humano de cómo las personas detrás de su fundación han llevado a
          cabo una serie de visiones y misiones<br> que a día de ahora se siguen manteniendo.<br><br>
        </p>
        <div class="img1f">

        </div>
        <strong>¿Como surgió la idea del pollo?</strong><hr>
        <p>
          Durante el noviembre de 1987 en la Ciudad de San Miguel, nace Pollo Campestre, todo
          comenzó cuando un amigo cercano les ofreció un equipo para freír pollo y posteriormente<br>
          pusieron un puesto de pollo frito en la calle Roosevelt.<br><br>
          
          Desde un principio tuvieron el desafío de que el país estuviera en guerra en aquellos años, sin
          embargo, no solo lograron salir de esa situación que tuvieron en sus inicios, sino que también<br>
          plantearon algo nuevo, una experiencia inolvidable para todas las familias salvadoreñas, que
          poco a poco fue creciendo por el esfuerzo de querer salir adelante.<br><br>
          
          Esto sentó bases de lo que ahora son:<br><br>
          
          un grupo corporativo que incluye la primera cadena salvadoreña de comida rápida. Una
          cadena de restaurantes que ha pasado por tantas circunstancias difíciles durante 30 años de<br>
          trabajo, pero aun así logro ser autosuficiente para vencer todas las crisis que se le presente, y
          seguir creciendo.<br><br>
        </p>
        <strong>Los inicios del Pollo Campestre</strong><hr>
        <p>
          La historia del Pollo Campestre comienza en 1987, en la ciudad de San Miguel, cuando los
          padres del Ingeniero Mario Romero, fundador del Pollo Campestre, se ven obligados a emigrar<br>
          a la ciudad de San Miguel debido a los conflictos que se estaban dando por la guerra civil. Al
          llegar a San Miguel, Don Mario Romero y su esposa Gloria de Romero fundaron una pequeña<br>
          panadería con una capital de 130 colones, que actualmente serian unos 15 dólares. Esta
          panadería logro prevalecer dándoles la oportunidad de expandirse y comprar terrenos. Pero<br>
          este sería solo el inicio de una gran trayectoria que les quedaba por delante. La historia
          continúa cuando un amigo del padre de Don Romero llega y les ofrece una máquina freidora<br>
          de pollo que habían usado en un negocio que no dio resultado. Con esta máquina freidora se
          empezaron a hacer pruebas con diferentes recetas hasta llegar a la que conocemos<br>
          actualmente, cosa que los llevaría a abrir un pequeño restaurante. En 1987, este lugar, al que
          llamarían Pollo Campestre, se convertiría en el primer restaurante de pollo frito en El Salvador.<br><br> 

          
          
          El Pollo Campestre tuvo sin duda un gran éxito desde sus inicios, pero no todo fue tan fácil.
          Después de la firma de los acuerdos de paz en 1992 de la Guerra Civil, San Miguel se volvió un<br>
          centro de desarrollo en el cual grandes empresas de comida rápida empezaron a abrir
          sucursales en la ciudad, haciendo que las empresas locales migueleñas se vieran muy<br>
          afectadas incluso llevando a algunas a la quiebra.<br><br>
          
          Pero el Pollo Campestre no se quedó atrás, en cambio, empezó una renovación total en los 10
          restaurantes existentes en ese momento. Así es como nace el ambiente infantil que caracteriza<br>
          al restaurante, incluyendo personajes y áreas de juegos para los niños. Después de haber
          logrado superar una de las más grandes dificultades que habían podido tener, se presentó otro<br>
          reto. Para ese tiempo, el Pollo Campestre obtenía sus suministros de pollo de proveedores
          externos, cosa que los llevaba a tener problemas de entrega, de calidad, e inconsistencia de<br>
          precios que terminaban afectando al negocio. Aquí es donde entran los hijos del Señor
          Romero, quienes siempre fueron incentivados por su padre a ser empresarios. Estos, al<br>
          conocer el problema que se tenía con la administración y el suministro del pollo, propusieron
          la idea de fundar una propia empresa avícola. Es así como en 1998 nace Avícola Campestre,<br>
          que les permitiría tener un mejor control de calidad y suministrar la principal materia prima:
          “el mejor pollo”.<br><br></p>
          <div class="img2f">
  
          </div> 
        <p>
          <br>Desarrollo del pollo campestre<br><br>
          
          En el sector avícola el patrón normal es comenzar con la producción de pollos y luego entrar al
          negocio de los restaurantes de comida rápida. No así el caso de Avícola Campestre, que<br>
          comenzó en 1998 para poder surtir a los restaurantes Pollo Campestre.<br><br>
          
          El Ing. Sergio Romero, director general del Grupo Campestre en San Miguel, El Salvador,
          explica la historia de la empresa.<br><br>
          
          “Es una empresa familiar, fruto de la guerra civil en El Salvador. Mis padres fueron avicultores
          y ganaderos, pero dejaron su tierra y se fueron a San Miguel como refugiados por el conflicto<br>
          armado. Después de dedicarse a diferentes actividades como la agricultura y ganadería en
          propiedades arrendadas, se aventuraron y montaron una panadería en un local alquilado, con<br>
          un capital inicial de US$ 15. El primer día solo tuvieron una venta de US $5, pero eso no fue un
          obstáculo para que continuaran abriéndose camino en su nuevo lugar de residencia”.<br><br>
          
          “Con el pasar de los años, la Panadería Sinai, fundada por los esposos Mario y Gloria de
          Romero, se convirtió en la panadería más grande de San Miguel, llegando a contar con<br>
          aproximadamente 80 colaboradores, lo que dio fruto para la compra de tierras agrícolas para
          la ganadería y de instalaciones propias para establecer su panadería”.<br><br>
          
          “A un amigo de la familia mi padre le compró una máquina freidora de pollo de un negocio que
          no funcionó. Después de muchas pruebas de sabor, se definió una receta y fue así como en<br>
          1987 se estableció un restaurante de pollo frito para el cual se adoptó el nombre de Pollo
          Campestre, siendo este el primer restaurante de pollo frito en San Miguel. El nombre<br>
          Campestre lo seleccionamos por la nostalgia que nos atraía por ser originarios del campo.
          Gracias a Dios, el restaurante tuvo tanto éxito, que abrimos una sucursal por año en San<br>
          Miguel y nuestra panadería dejó de funcionar como tal y se reconvirtió en un centro de
          producción”.<br><br>
          
          El Ing. Romero indica que, Durante los primeros años los restaurantes eran abastecidos por
          otras empresas avícolas locales. Cuando se firmó la paz en 1992 y terminó la guerra civil, San<br>
          Miguel se convirtió en un nuevo polo de desarrollo y empresas de San Salvador buscaron
          asentarse en San Miguel. Llegaron cadenas grandes de restaurantes y franquicias de comida<br>
          rápida, lo que se convirtió en una amenaza para las empresas locales, ya que no pudieron
          hacerle frente a tal competencia. Muchos negocios cerraron y muchas personas pensaron que<br>
          era el fin de Pollo Campestre<br><br>
          
          Para hacerle frente a ese nuevo reto tuvieron que reinventarse generando el primer cambio de
          imagen (fachadas, ambientes, mobiliario, etc.,) en los 10 restaurantes existentes en ese<br>
          momento. Su mayor cambio fue crear un ambiente infantil, donde se incluyeron personajes y
          áreas de juego en cada restaurante. Posterior a esto, se presentó una segunda amenaza, ya<br>
          que tuvieron problemas con el suministro de pollo con los proveedores, por precios, tamaño
          irregular, inconsistencia en las entregas, lo que afectaba la rentabilidad de la operación.<br><br>
          
          Después Conociendo el problema de suministro de pollo, propusieron la idea de fundar una
          propia empresa avícola y fue así que en 1998 nace Avícola Campestre. Comenzaron con tres<br>
          galpones completamente automatizados tipo túnel y una pequeña planta de procesamiento
          con una capacidad de mil pollos por hora, para poder suministrar su propia materia prima: el pollo.<br><br>
        </p>
       
        <strong>Grupo campestre</strong><hr>
        <p>
          Grupo Campestre es un corporativo que nace en la Zona Oriental de El Salvador, actualmente
          cuenta con diez empresas, las cuales son: Grupo Campestre S.A. de C.V. (corporativo<br>
          administrativo), Pollo Campestre S.A. de C.V., Avícola Campestre S.A. de C.V., Agrocampestre
          S.A. de C.V., Agropecuaria La Laguna S.A. de C.V., Recursos Humanos Excelentes de El Salvador<br>
          S.A. de C.V., Hotel y Restaurante Mar y Sol, Panadería Sinaí S.A. de C.V., Rico Pollo S.A. de C.V.
          y su más reciente marca, Emma Donuts.<br><br>
          
          Todas estas empresas anteriormente mencionadas, sentaron base para ser lo que ahora
          conocemos como Grupo Campestre. Toda esta red de compañías trabaja en conjunto como<br>
          proveedores directos del Pollo Campestre para poder ofrecer al cliente un producto de la
          mejor calidad.<br>


          <div class="img3f">

          </div> 
          
          Para obtener carne de pollo fresco, la cual es la principal materia prima del Pollo Campestre,
          surge lo que ahora conocemos como Avícola Campestre S.A. de C.V, con el tiempo la demanda<br>
          del pollo fue incrementando y pasó de tener a un único cliente directo a consolidarse hoy en
          día como una de las 3 avícolas más grandes y tecnificadas del país. Ahora en día suple de<br>
          productos tanto a los restaurantes Pollo Campestre y otros restaurantes de sus marcas como
          Rico Pollo como a supermercados. Por otro lado, se funda Agro campestre, que se encarga de<br>
          la producción de alimentos para ganado, gallinas y pollos especialmente formulados para crear
          y obtener buenos pesos generando así el sabor que cautiva a miles de salvadoreños. De igual<br>
          manera se integra la Panadería Sinaí a abastecer todo aquello que conlleva pastelería, ya sea
          pan o postres.<br>
          
          A todo esto, las cadenas de restaurantes están en crecimiento constante, así que surge la
          necesidad de crear la compañía de Recursos Humanos Excelentes de El Salvador, la cual brinda<br>
          servicio de reclutamiento, selección, capacitación y promoción del personal que ingresa al
          Grupo Campestre. Todos estos esfuerzos y acciones forman e identifican a este grupo, siempre<br>
          orientado al consumidor, orientado al cliente.<br><br>
          </p>  
                 
          <strong>El Pollo Campestre en la Actualidad</strong><hr>
          <p>
            En la actualidad su éxito empresarial se pone de manifiesto con el Grupo Campestre, el
            consorcio en donde se agrupan otras empresas que, en su conjunto, generan alrededor de<br>
            2,400 empleos directos. Cuenta con al menos 9 organizaciones coludidas con la idea principal
            de la corporación con su más reciente inversión ha sido en la industria de postres y panadería,<br>
            Emma Donuts, ubicados en el centro comercial el encuentro. Conforme a estimaciones del
            2019 de la Cámara de Comercio e Industria el rubro de pollo frito/rostizado, dentro del sector<br>
            que comprende la comida rápida, si bien es cierto estaba compuesto por una variada cantidad
            de establecimientos, se encuentra en la práctica funcionando entre muy contadas empresas<br>
            llamadas competencia directa de este consorcio. Una buena razón para lo anterior es que
            permanentemente se tiene la sensación de que las condiciones existentes en el mercado<br>
            podrían resultar tentadoras para los competidores con miras a llevar a cabo reducciones
            constantes de precios. RITMO Cualquiera podría preguntarse similares han sido algunas de las<br>
            fórmulas del éxito de la empresa ante una competencia tan significativa como la que
            representa el conocido “Pollo Campero” sin embargo, Pollo Campestre ha ido apuntalando con<br>
            el tiempo sus esquemas de defensa a efecto de disuadir el posible ingreso de otros
            competidores, trabajando principalmente aspectos como: adquisición de materia prima, de<br>
            una empresa hermana, extremadamente barata, permisos favorables, cultivando la lealtad y
            preferencia de sus clientes, invirtiendo en publicidad y efectuando la modernización de sus<br>
            <div class="video1">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/TP-kQkgElL4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


              </video>
            </div>
            instalaciones y equipos. Nuevos integrantes, desarrollo del negocio Con el paso del tiempo la
            marca ha evolucionado en su presentación y en la infraestructura de sus restaurantes para<br>
            adaptarse al ritmo que demanda el mercado. A partir del 2013 inició un proceso de cambio y
            remodelación de sus unidades hacia una nueva imagen mucho más fresca, moderna y<br>
            renovada, la cual obedece a los cambios del entorno ya las crecientes necesidades de sus
            consumidores; pero, aún conserva su esencia de trabajo en familia, el excelente servicio al<br>
            cliente y la calidad y sabor que la ha caracterizado y hecho único durante todos estos años.
            Para no ir muy lejos, la proyección de crecimiento adoptada desde el 2015 fue la apertura<br>
            constante de establecimientos, de los cuales se fueron abriendo al público en San Miguel y
            otros departamentos del país. El director General de Grupo Campestre, detalló que la<br>
            inversión en las últimas sucursales que se abrieron a partir del año 2016 superó los US $ 900
            mil y mostró 238 nuevos empleos retomando sus valores inquebrantables sobre el apoyo a sus<br>
            colaboradores y nuevas fuentes de empleo a la misma gente salvadoreña. Ese año Pollo
            Campestre creció 14.5% y entre 2016 y 2017 un 20% más. También agregó que durante la<br>
            pandemia el conjunto de negocios afiliados al pollo campestre sufrió un gran cambio en
            cuanto a sus operaciones, manteniendo sus valores sobre sus empleados, el cual les hizo una<br>
            gran oportunidad de trabajo para muchas personas, abriendo en la actualidad hasta 66
            sucursales en todo el país, concentrándose el 52% en la zona oriental, y 2,400 empleados,<br>
            creciendo más de un 24% sus números
            Es destinado a los restaurantes. Con los restaurantes de Pollo Campestre necesitaron montar<br>
            nuestra propia producción. Mejoramos nuestros estándares de tamaño y calidad y creamos
            nuestro propio sistema de suministro, integrando la compañía, y además haciéndola más<br>
            rentable y eficiente. Hasta la fecha, sólo esa empresa ha generado más de 650 empleos. En
            cada restaurante sirven un menú variado que satisface a grandes y pequeños. Relaciones<br>
            industriales y perspectivas, Aunque el problema de la materia prima principal está
            prácticamente resuelto, es importante destacar que para cubrir todos los demás aspectos del<br>
            funcionamiento de la empresa se apoya en una serie de compañías que la abastecen, las
            cuales además de ser muy importantes, demandan, sin embargo, entre otros puntos,<br>
            condiciones favorables de crédito y alguna que otra consideración, especialmente en lo que se
            refiere a plazos de entrega y volúmenes de compra. Ahora se plantea la cuestión de cómo<br>
            Pollo Campestre puede continuar expandiendo su crecimiento basado en su modelo de
            negocio sin perder ese toque que los ha caracterizado ya la vez seguir posicionado en el gusto<br>
            de sus consumidores.
            </p>  

            <strong>La visión del Pollo Campestre</strong><hr>
            <div class="video2">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/YtrTeUbBdbU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                
            </div>

           
      </div>
    </div>
   
       
    
      
    </div>
    <h1></h1>
  </body>
</html>
